{
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "rules": {
    "arrow-body-style": [1, "as-needed"],
    "prefer-arrow-callback": 1,
    "space-before-function-paren": [2, "never"],
    "func-names": 0,
    "no-param-reassign": 0,
    "max-len": [
      2,
      80,
      {
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ],
    "prefer-template": 1,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "camelcase": [0, { "properties": "never" }],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "CallExpression": {
          "arguments": "off"
        }
      }
    ],
    "linebreak-style": 0
  },
  "globals": {
    "atom": true
  },
  "env": {
    "node": true,
    "jest": true
  }
}
